<footer>
  <p class="view"><a href="https://github.com/wetransform/inspire-extensions/tree/gh-pages">View the Project on GitHub
    <small>wetransform/drdsi-pilot</small>
  </a></p>
</footer>
<script src="{{ "/javascripts/scale.fix.js" | prepend: site.baseUrl }}"></script>

{% if page.category == "patterns" or page.category == "tutorial" %}
<script src="{{ "/bower_components/prism/prism.js" | prepend: site.baseUrl }}"></script>
<script src="{{ "/bower_components/prism/plugins/line-highlight/prism-line-highlight.js" | prepend: site.baseUrl }}"></script>
<script src="{{ "/bower_components/prism/plugins/line-numbers/prism-line-numbers.js" | prepend: site.baseUrl }}"></script>
{% endif %}
