<header>
  <a href="/index.html"><h1>DRDSI Data Harmonisation Pilot</h1></a>
  <div>
    <img src="../images/Danube_Net_logo.png" alt="" title="DanubeNet Logo" style="width: 95%"/>
  </div>
  <div id="toc">
    <ol class="tocLevel1">
      <li><a href="analysis.html">Analysis and Quality Assessment of Source Data Sets</a></li>
      <li><a href="mapping.html">Conceptual Mapping to INSPIRE Data Specifications</a></li>
      <li><a href="transformation.html">Transformation and Validation of Data in HALE</a></li>
      <li><a href="services.html">Provision of Direct Access Download services</a></li>
      <li><a href="conclusion.html">Summary and Conclusions</a></li>
    </ol>
  </div>

</header>